/* Reset some default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Basic styles */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f8f8f8;
  color: #333;
}

.container {
  width: 80%;
  margin: auto;
  padding: 20px 0;
}

header {
  background-color: #7f5a83; /* Purple */
  color: #fff;
  text-align: center;
  padding: 30px 0;
}

header h1 {
  font-size: 3em;
  margin-bottom: 10px;
}

header p {
  font-size: 1.2em;
}

.section {
  padding: 50px 0;
  text-align: center;
}

section h2 {
  margin-bottom: 30px;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

footer a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
  font-weight: bold;
}

footer a:hover {
  text-decoration: underline;
}
